
.user-role-search .search-results > thead {
	display: none;
}

.user-viewer {
	position: relative;
}

.update-password-dialog {
	.prop {
		text-align: left;
	}
}

#main-content-wc-0 .user-viewer h3 {
	word-break: break-all;
}