@import "../config/base-vars";
@import "../../../../../node_modules/bootstrap/scss/mixins";
@import "../mixins/_bootstrap-legacy-buttons.scss";

.resource-repo-item-editor {
	span.file-field {
		display: block;

		.actions .btn + .btn {
			@include button-variant-legacy($color-app-red, $color-white, $color-app-red);
		}
	}
}

.resource-repo-item-viewer {

	.prop-body {
		border: 1px solid $color-lighter-grey;
		background: $color-white;
		padding: 1.5rem;
	}

	h1 + .resource-content {
		margin-top: 1rem;
	}

	.resource-content {
		display: block;
		margin-bottom: 1rem;
	}

	.resource-action {
		display: inline-block;
		vertical-align: middle;

		+ .resource-action {
			margin-left: .5rem;
		}

		a.btn {
			@include button-variant-legacy($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
			@include button-size-legacy($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-size-line-height, $btn-border-radius-sm);
		}
	}

	label {
		width: 5rem;
		font-weight: 500;

		&::after {
			content: ':';
			margin-right: 5px;
		}
	}
}