@import "../config/base-vars";
@import "../../../../../bower_components/bootstrap/scss/variables";
@import "../../../../../bower_components/bootstrap/scss/mixins";
@import "../../../../../bower_components/bootstrap/scss/buttons";

.login-body {
	background-color: #f1f2f7;
}


.form-signin .title {
	padding: .6rem 0 .3rem;
	text-align: center;
	background: $color-app-brand;
	border-radius: 5px 5px 0 0;
	color: $color-white;
	font-size: 1.6rem;
	text-transform: uppercase;
	font-weight: $headings-font-weight;
}

.form-signin .checkbox {
	margin-bottom: 14px;
}
.form-signin .checkbox {
	font-family: $font-family-sans-serif;
	color: #b6b6b6;
	font-weight: 300;
}
.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="text"], .form-signin input[type="password"] {
	padding-left: 5px;
	border: 2px solid #71767c;
	width: 100%;
}

.form-signin p {
	text-align: center;
	margin: 0;
}


.login-wrap {
	padding: 20px;
}

.login-social-link  {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 15px;
}

.login-social-link a {
	color: #fff;
	padding: 15px 28px;
	border-radius: 4px;
}

.login-social-link a:hover {
	color: #fff;
}

.login-social-link a i {
	font-size: 20px;
	padding-right: 10px;
}

.login-social-link a.facebook {
	background: #5193ea;
	margin-right: 22px;
	box-shadow: 0 4px #2775e2;
	float:left;
}

.login-social-link a.twitter {
	background: #44ccfe;
	box-shadow: 0 4px #2bb4e8;
	float:left;
}

#authentication {
	background-color: #f1f2f7;
}

.form-signin .message-container{
	margin-top: 10px;
}

.form-signin .retrieve-password p {
	padding:0 0 1rem;
	background-color:#fff;
	font-size:.85rem;
	margin:0;
	border-bottom-left-radius: .3rem;
	border-bottom-right-radius:.3rem;
	text-align:center;
}

.form-reset #retrieve-password {
	text-align: center;
}

header#main-header {
	display: none;
}

.composite {
	width: 100%;
	max-width: 370px;
	margin: 0 auto;

	.form-signin, .logged-in {
		border-radius: 0.3rem;
		margin-top: 5rem;
	}

}

.logged-in {
	background: #fff;
	padding: 2rem;
	p {
		margin-bottom: 0;
	}
}

.field {
	display: flex;
	flex-direction: column;
	padding: 1.5rem 3.5rem 0;
	text-align: left;

	.field {
		background-color: #fff;
	}
	.label {
		padding: 0;
		display: block;
		border-radius: 0;
		text-align: left;
	}
}

.form-content {
	display: flex;
	flex-direction: column;
	color: black;
	background: #fff;
	padding-bottom: 1.5rem;
	label {
		color: #000;
		font-size: .85rem;
		text-transform: uppercase;
		margin-bottom: .25rem;
	}
	.actions {
		text-align: center;
		padding-top: 20px;
		background-color: #fff;
		.btn {
			max-width: 10rem;
			line-height: 1rem;
			padding: .5rem 1rem;
		}
	}
}

.retrieve-password-con {
	background: #fff;
	border-radius: 0.3rem;
	margin-top: 5rem;
	.html {
		font-size: .85rem;
		padding: 0;
		.title {
			background-color: $color-app-brand;
			text-align: center;
			color: #fff;
			font-size: 1.6em;
			vertical-align: center;
			text-transform: uppercase;
			padding: .5rem 0;
			border-top-left-radius: 0.3rem;
			border-top-right-radius: 0.3rem;
			font-family: $font-roboto;
			font-weight: 700;
		}
		p {
			padding: 2rem 2rem 0;
		}
	}
	span.email {
		display: block;
		font-size: .9rem;
		margin-bottom: .25rem;
	}
	input[type="text"] {
		border: 2px solid #71767c;
		width: 100%;
	}

	form#retrieve-password {
		text-align: center;

		div.email {
			text-align: left;
		}
	}

	.retrieve-password {
		padding: 0 3rem 2rem;

		.btn {
			@include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
			margin: .5rem auto 0;
		}
	}
}


.retrieve-password-con .retrieve-password button:active, .retrieve-password-con .retrieve-password button.active,
.open > .retrieve-password-con .retrieve-password button.dropdown-toggle {
	color: #fff;
	background-color: #01396b;
	border-color: #011e38;
	background-image: none;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.retrieve-password-con .retrieve-password button:active:hover,
.retrieve-password-con .retrieve-password button:active:focus,
.retrieve-password-con .retrieve-password button:active.focus,
.retrieve-password-con .retrieve-password button.active:hover,
.retrieve-password-con .retrieve-password button.active:focus,
.retrieve-password-con .retrieve-password button.active.focus,
.open > .retrieve-password-con .retrieve-password button.dropdown-toggle:hover,
.open > .retrieve-password-con .retrieve-password button.dropdown-toggle:focus,
.open > .retrieve-password-con .retrieve-password button.dropdown-toggle.focus {
	color: #fff;
	background-color: #012647;
	border-color: black;
}

.retrieve-password-con .retrieve-password button.disabled:focus,
.retrieve-password-con .retrieve-password button.disabled.focus,
.retrieve-password-con .retrieve-password button:disabled:focus,
.retrieve-password-con .retrieve-password button:disabled.focus {
	background-color: #02549d;
	border-color: #013e75;
}

.retrieve-password-con .retrieve-password button.disabled:hover,
.retrieve-password-con .retrieve-password button:disabled:hover {
	background-color: #02549d;
	border-color: #013e75;
}

.password-reset {
	background: #fff;
	font-family: "open-sans", sans-serif;
	border-radius: 0.3rem;
	margin-top: 5rem;
}

.password-reset .title {
	background-color: $header-bg;
	text-align: center;
	color: #fff;
	font-size: 1.6em;
	vertical-align: center;
	text-transform: uppercase;
	padding: .5rem 0;
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
	font-family: "raleway", sans-serif;
	font-weight: 700;
}

.password-reset p {
	padding: 2rem 2rem 0;
}

.password-reset .label {
	font-size: .85rem;
	color: #343940;
	text-transform: uppercase;
	font-family: "open-sans", sans-serif;
}

.password-reset .label label {
	margin-bottom: .25rem;
}

.password-reset .actions {
	padding: 0 3rem 2rem;
}

.password-reset .actions .btn {
	margin: .5rem auto 0;
	display: block;
}

/* ----- SSO */
div.message {
	max-width: 370px;
	margin: 0 auto;
}

#oneall-providers-login {
	width: 100%;
	max-width: 370px;
	margin: 0 auto;
	text-align: center;
	padding: 1rem 0;

	/*iframe {
		width: 100% !important;
	}*/
}
