@import "../config/base-vars";

/**
* Provide button look for MIWT MenuComponent
*/
@mixin bootstrapButton {
	display: inline-block;
	font-weight: $btn-font-weight;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border: $input-btn-border-width solid transparent;
	@include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $line-height, $btn-border-radius);
	@include transition(all .2s ease-in-out);

	&,
	&:active,
	&.active {
		&:focus,
		&.focus {
			@include tab-focus();
		}
	}

	@include hover-focus {
		text-decoration: none;
	}
	&.focus {
		text-decoration: none;
	}

	&:active,
	&.active {
		background-image: none;
		outline: 0;
		@include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
	}

	&.disabled,
	&:disabled {
		cursor: $cursor-disabled;
		opacity: .65;
		@include box-shadow(none);
	}
}

@mixin anchorUnderlineHover() {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}


@mixin textLikeInputs() {
	input:not([type=checkbox]):not([type=radio]):not([type=file]):not([type=submit]):not([type=reset]):not([type=button]) {
		@content;
	}
}