@import "../config/base-vars";
@import "../../../../../node_modules/bootstrap/scss/buttons";

/*
	Component partial -	File chooser popup
*/

.file_chooser {
	width: 100%;

	td {
		vertical-align: middle;

		&.sibling_directories-con,
		&.cwd-con,
		&.pager-con,
		&.actions-con {
			vertical-align: top;
		}

		&.pager-con {
			height: 100%;
			width: 100%;
		}

		&.sibling_directories-con {
			min-width: 200px;
			max-width: 300px;
		}

		&.actions-con {
			div.actions {
				margin: 5px 0;
			}
			label {
				width: 235px;
				display: inline-block;
			}
			.btn {
				@include button-size-legacy($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-size-line-height, $btn-border-radius-sm);
				margin-left: 3px;
			}
		}
	}

	.fse_file,
	.fse_folder {
		text-decoration: none;
		color: $link-color;
	}

	.fse_icon_name {
		.btn {
			&.add {
				margin-right: 3px;
			}
		}
	}
	/*
	.btn-image {
		vertical-align: middle;
	}
	*/

	.fse_icon {
		padding-right: 3px;
	}

	.element input.selector {
		display: none;
	}

	div.sibling_directories {
		padding-right: 10px;
	}

	div.cwd {
		font-size: 16px;
		margin-bottom: 10px;
	}
}
