$html-entity-glyph-action-trigger-mgt: "\F101";
$html-entity-glyph-active-requests: "\F102";
$html-entity-glyph-add: "\F103";
$html-entity-glyph-align-bottom: "\F104";
$html-entity-glyph-align-top: "\F105";
$html-entity-glyph-arrow-down: "\F106";
$html-entity-glyph-arrow-left: "\F107";
$html-entity-glyph-arrow-right: "\F108";
$html-entity-glyph-arrow-up: "\F109";
$html-entity-glyph-article: "\F10A";
$html-entity-glyph-attachment: "\F10B";
$html-entity-glyph-battery-almost-full: "\F10C";
$html-entity-glyph-blog: "\F10D";
$html-entity-glyph-book: "\F10E";
$html-entity-glyph-branch-close: "\F10F";
$html-entity-glyph-branch-open: "\F110";
$html-entity-glyph-calendar-config: "\F111";
$html-entity-glyph-calendar: "\F112";
$html-entity-glyph-cart: "\F113";
$html-entity-glyph-catalog: "\F114";
$html-entity-glyph-clients: "\F115";
$html-entity-glyph-clock: "\F116";
$html-entity-glyph-close: "\F117";
$html-entity-glyph-cms: "\F118";
$html-entity-glyph-comment-def-mgt: "\F119";
$html-entity-glyph-comment-moderation: "\F11A";
$html-entity-glyph-component-factory: "\F11B";
$html-entity-glyph-component: "\F11C";
$html-entity-glyph-console: "\F11D";
$html-entity-glyph-copy: "\F11E";
$html-entity-glyph-custom-db-mgt: "\F11F";
$html-entity-glyph-custom-model-mgt: "\F120";
$html-entity-glyph-customer-care: "\F121";
$html-entity-glyph-customer-requests-mine: "\F122";
$html-entity-glyph-dashboard: "\F123";
$html-entity-glyph-data-provider-mgt: "\F124";
$html-entity-glyph-database: "\F125";
$html-entity-glyph-discount: "\F126";
$html-entity-glyph-donation: "\F127";
$html-entity-glyph-download: "\F128";
$html-entity-glyph-edit: "\F129";
$html-entity-glyph-email-template-mgt: "\F12A";
$html-entity-glyph-event-mgt: "\F12B";
$html-entity-glyph-events-calendar: "\F12C";
$html-entity-glyph-file-system: "\F12D";
$html-entity-glyph-files: "\F12E";
$html-entity-glyph-folder-open: "\F12F";
$html-entity-glyph-folder-up: "\F130";
$html-entity-glyph-folder: "\F131";
$html-entity-glyph-form-data: "\F132";
$html-entity-glyph-form-process: "\F133";
$html-entity-glyph-forms: "\F134";
$html-entity-glyph-gear: "\F135";
$html-entity-glyph-help-points: "\F136";
$html-entity-glyph-info: "\F137";
$html-entity-glyph-inventory: "\F138";
$html-entity-glyph-label-mgt: "\F139";
$html-entity-glyph-layout: "\F13A";
$html-entity-glyph-live-edit: "\F13B";
$html-entity-glyph-lock: "\F13C";
$html-entity-glyph-log4j-mgt: "\F13D";
$html-entity-glyph-logout: "\F13E";
$html-entity-glyph-mail-merge: "\F13F";
$html-entity-glyph-mail: "\F140";
$html-entity-glyph-member-admin: "\F141";
$html-entity-glyph-message-mgt: "\F142";
$html-entity-glyph-monitor: "\F143";
$html-entity-glyph-move-bottom: "\F144";
$html-entity-glyph-move-down: "\F145";
$html-entity-glyph-move-out-up: "\F146";
$html-entity-glyph-move-top: "\F147";
$html-entity-glyph-move-up: "\F148";
$html-entity-glyph-move: "\F149";
$html-entity-glyph-order-entry-wizard: "\F14A";
$html-entity-glyph-order-mgt: "\F14B";
$html-entity-glyph-order-pickup: "\F14C";
$html-entity-glyph-orders: "\F14D";
$html-entity-glyph-page: "\F14E";
$html-entity-glyph-paypool: "\F14F";
$html-entity-glyph-photos: "\F150";
$html-entity-glyph-play: "\F151";
$html-entity-glyph-plugin-install-mgt: "\F152";
$html-entity-glyph-plugin-mgt: "\F153";
$html-entity-glyph-power: "\F154";
$html-entity-glyph-preview: "\F155";
$html-entity-glyph-process-data: "\F156";
$html-entity-glyph-process-task: "\F157";
$html-entity-glyph-process: "\F158";
$html-entity-glyph-product: "\F159";
$html-entity-glyph-profile: "\F15A";
$html-entity-glyph-refresh: "\F15B";
$html-entity-glyph-rename: "\F15C";
$html-entity-glyph-report-config: "\F15D";
$html-entity-glyph-report-graph: "\F15E";
$html-entity-glyph-reports-mine: "\F15F";
$html-entity-glyph-satellite: "\F160";
$html-entity-glyph-search: "\F161";
$html-entity-glyph-shipping: "\F162";
$html-entity-glyph-site: "\F163";
$html-entity-glyph-social-facebook: "\F164";
$html-entity-glyph-social-linkedin: "\F165";
$html-entity-glyph-social-twitter: "\F166";
$html-entity-glyph-star: "\F167";
$html-entity-glyph-store: "\F168";
$html-entity-glyph-success: "\F169";
$html-entity-glyph-support: "\F16A";
$html-entity-glyph-system-cache: "\F16B";
$html-entity-glyph-system-info: "\F16C";
$html-entity-glyph-template: "\F16D";
$html-entity-glyph-text-editor: "\F16E";
$html-entity-glyph-trashcan: "\F16F";
$html-entity-glyph-upload: "\F170";
$html-entity-glyph-view: "\F171";
$html-entity-glyph-world: "\F172";
$html-entity-glyph-tracking: "\F173";
$html-entity-glyph-verified-senders: "\F174";
$html-entity-glyph-richmedia: "\F175";
$html-entity-glyph-rss: "\F176";
$html-entity-glyph-calculator: "\F177";
$html-entity-glyph-request-quote: "\F178";
$html-entity-glyph-location-db: "\F179";
$html-entity-glyph-services-resources-mgmt: "\F180";
$html-entity-glyph-lead-gen: "\F181";
$html-entity-glyph-mobile: "\F182";
$html-entity-glyph-secure-payment: "\F183";
$html-entity-glyph-alerts: "\F184";
$html-entity-glyph-proteus-bird: "\F185";
$html-entity-glyph-proteus-platform: "\F186";