@import "../config/base-vars";
@import "../../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../../node_modules/bootstrap/scss/mixins/buttons";

/**
* Provide button look for MIWT MenuComponent
*/
@mixin bootstrapButton {
	display: inline-block;
	font-weight: $btn-font-weight;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border: $input-btn-border-width solid transparent;
	@include button-size-legacy($btn-padding-y, $btn-padding-x, $font-size-base, $btn-size-line-height, $btn-border-radius);
	@include transition(all .2s ease-in-out);

	&,
	&:active,
	&.active {
		&:focus,
		&.focus {
			outline: 1px dotted;
			outline: 5px auto -webkit-focus-ring-color;
		}
	}

	@include hover-focus {
		text-decoration: none;
	}
	&.focus {
		text-decoration: none;
	}

	&:active,
	&.active {
		background-image: none;
		outline: 0;
		@include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
	}

	&.disabled,
	&:disabled {
		cursor: $cursor-disabled;
		opacity: .65;
		@include box-shadow(none);
	}
}

@mixin anchorUnderlineHover() {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}


@mixin textLikeInputs() {
	input:not([type=checkbox]):not([type=radio]):not([type=file]):not([type=submit]):not([type=reset]):not([type=button]) {
		@content;
	}
}

/**
* Word wrap
 */
@mixin word-wrap() {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

/**
* Overflow ellipsis
 */
@mixin ellipsis() {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

// Based on Font Squirrel generated files
@mixin fontFace($font-name, $file-name) {
	$font-file-path: $path-fonts + '/' + $file-name;

	@font-face {
		font-family: $font-name;
		src: url($font-file-path + '.eot');
		src: url($font-file-path + '.eot?#iefix') format('embedded-opentype'),
			//url($font-file-path + '.woff2') format('woff2'),
		url($font-file-path + '.woff') format('woff'),
		url($font-file-path + '.ttf') format('truetype');
		//url($font-file-path + '.svg#' + $font-name) format('svg');
		font-weight: normal;
		font-style: normal;
	}
}