@import "../config/base-import";
@import "../components/actions";
@import "../components/messages";
@import "../components/top-menu";
@import "../components/side-nav";
@import "../components/miwt";
@import "../components/miwt-tables";
@import "../components/miwt-menu";
@import "../components/miwt-dialog";
@import "../components/tabs";
@import "../components/search-ui";
@import "../components/pager";
@import "../components/prop-ui";
@import "../components/file-chooser";

body {
	font-family: $font-roboto;
	font-weight: 300;
}

#main-wrapper main { padding-bottom: 3rem; }

::selection {
	background: #FF6C60;
	color: #fff;
}

.update-password-dialog {
	width: 40rem !important;
	.windowcontent {
		text-align: center;
	}
}

#main-content-wc-0 {
	h1, h2, h3 {
		font-weight: 300;
		padding: .75rem 0 1rem;
	}
	.text h1 {
		font-size: 2rem;
		color: $color-app-grey;
	}
}

section {
	> h1 {
		margin: 10px 0;
		font-size: 2rem;
	}
	section > h1 {
		font-size: 1.75rem;
		margin: 10px 0;
	}
}

.miwt-calendar {
	button.open,
	button.clear {
		border: none;
		background: inherit;
		box-shadow: none;
		color: #fff;

		&:before {
			visibility: visible;
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: "\f073";
			color: $color-app-light-grey;
		}
		&:hover {
			color: #fff;
			&:before {
				color: $color-app-black;
			}
		}
	}
	button.clear {
		padding-right: 0;
		&:before {
			content: '\f00d';
		}
	}
}

.instructions {
	padding-top: .75rem;
	padding-bottom: .75rem;
	color: $color-app-grey;
	font-style: italic;
}
p.instructions {
	padding-bottom: 0;
}

.prop-wrapper {

	.prop.time {
		.prop-group-title { margin-top: 0; }
	}

	.prop.timezone {
		> label { margin-top: 15px; }
	}

}

#page-footer {
	padding: 2rem 0;
	background: #4F5A69;
	width: 100%;
	display: block;
	color: $color-white;
	text-align: center;

	p {
		margin: 0;
	}

}


.user-search {
	.search-results {
		thead tr th {
			&:nth-of-type(2) {
				min-width: 7rem;
			}
			&.control {
				min-width: 3.5rem;
			}
		}
		tbody tr td:nth-of-type(8) {
			overflow-wrap: break-word;
			word-wrap: break-word;
			-ms-word-break: break-all;
			word-break: break-all;
		}
	}
}

.back-top {
	display: none;
}

div.calendar {
	z-index: 1900 !important;
}

@media (max-width: 767px)
and (orientation:portrait) {

	.back-top {
		display: block;
		bottom: 1.5rem;
		position: absolute;
		right: 0;

		a {
			padding: 5px 7px 7px;
			border: 1px solid $color-app-brand;
			border-radius: 100%;
			line-height: 1;
			display: inline-block;
			background: #fff;
		}

	}

	.header {
		min-height: 50px;
	}

	#main-wrapper main {
		margin-top: -3.75rem;
	}

	#main-content-wc-0 h1, #main-content-wc-0 h2, #main-content-wc-0 h3 {
		padding-left: 2.5rem;
	}

}
