/**
css for home-page
*/
.localhost{
    background:#E1FFFF
}

#n675n{
    margin:0px 0px 0px 1750px;
    float:left;
}

#n676n{
    margin:0px 0px 0px 1790px;
}

.mil{
    background:#008080;
}
#n676n1{
    background:#008080;
}