@import "../config/base-vars";
@import "../../../../../node_modules/bootstrap-beta/scss/mixins/buttons";


.btn {
	/* Define a default background color. */
	@include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}

@import "../../../../../node_modules/bootstrap-beta/scss/buttons";

.btn {
	font-family: $font-roboto;
}

.actions {
	margin-top: .4rem;

	.btn {
		cursor: pointer;

		+ .btn {
			margin-left: 4px;
		}

		&.save, &.add, &.finish-button, &.save_exit, &.confirm, &.engagement-completed {
			@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
		}

		&.delete, &.remove, &.cancel, &.cancel-button, &.reschedule {
			@include button-variant($color-app-red, $color-white, $color-app-red);
		}
	}

	.action-column .btn {
		@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-xs, $btn-size-line-height, $btn-border-radius-sm);
	}
}
