@import "../config/base-vars";
@import "../../../../../bower_components/bootstrap/scss/mixins/buttons";

.actions {

	.btn {
		cursor: pointer;
		font-family: $font-roboto;
		@include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);

		+ .btn {
			margin-left: 4px;
		}

		&.save, &.add, &.finish-button, &.save_exit, &.confirm, &.engagement-completed {
			@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
		}

		&.delete, &.remove, &.cancel, &.cancel-button, &.reschedule {
			@include button-variant($color-app-red, $color-white, $color-app-red);
		}

		&:hover {
			text-decoration: none;
		}
	}

	.action-column .btn {
		@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-xs, $btn-border-radius-sm);
	}
}
