@import "../config/base-vars";
@import "../../../../../bower_components/bootstrap/scss/mixins";
@import "../../../../../bower_components/bootstrap/scss/mixins/pagination";

div.pager-top {
	display: none;
}

.pager-bottom {
	display: inline-block;
	padding-left: 0;
	margin-top: $spacer-y;
	margin-bottom: $spacer-y;
	@include border-radius();
	width: 100%;
	text-align: center;
}

.pages.page {

	&:first-child {
		margin-left: 0;
		@include border-left-radius($border-radius);
	}
	&:last-child {
		@include border-right-radius($border-radius);
	}

}
.pages .selected-page.page {
	@include plain-hover-focus {
		z-index: 2;
		color: $pagination-active-color;
		cursor: default;
		background-color: $pagination-active-bg;
		border-color: $pagination-active-border;
	}
}


.pages .page,
.mp-controls .control {
	position: relative;
	float: left; // Collapse white-space
	padding: $pagination-padding-y $pagination-padding-x;
	margin-left: -1px;
	line-height: $btn-line-height;
	color: $pagination-color;
	text-decoration: none;
	background-color: $pagination-bg;
	border: $pagination-border-width solid $pagination-border-color;

	@include hover-focus {
		color: $pagination-hover-color;
		background-color: $pagination-hover-bg;
		border-color: $pagination-hover-border;
	}
}

.mp-controls {
	.control {
		&::before {
			padding-right: 4px;
			margin-top: -4px;
		}

		&::after {
			padding-left: 4px;
			margin-top: -4px;
		}
	}

	.prev {
		&::before {
			@include glyphAdd('\f104', 1rem, inherit);
		}
	}

	.first {
		&::before {
			@include glyphAdd('\f100', 1rem, inherit);
		}
	}

	.next {
		&::after {
			@include glyphAdd('\f105', 1rem, inherit);
		}
	}

	.last {
		&::after {
			@include glyphAdd('\f101', 1rem, inherit)
		}
	}
}

.pager .controls{
	display: inline-block;
}

.pager .next-controls{
	margin-left:4px;
}

.pager .prev-controls{
	margin-right:4px;
}
