@import "../config/base-import";
@import "../components/actions";
@import "../components/messages";
@import "../components/app-menu";
@import "../components/side-nav";
@import "../components/miwt";
@import "../components/miwt-tables";
@import "../components/miwt-menu";
@import "../components/miwt-dialog";
@import "../components/tabs";
@import "../components/search-ui";
@import "../components/pager";
@import "../components/prop-ui";
@import "../components/file-chooser";

body {
	background: $body-bg;
	font-family: $font-roboto;
	font-weight: 400;
	color: $font-default-color;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;

	div.page {
		display: flex;
		flex-flow: column nowrap;
	}

}

#e-content {
	flex: 1 0 auto;
	min-height: calc(100vh - 128px);
	padding-bottom: 3rem;
}

.main-content {
	padding: 3rem 1rem 0;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

h1, h2 {
	color: $color-app-brand;
}

h3, h4 {
	color: $color-app-grey;
}

::selection {
	background: #FF6C60;
	color: #fff;
}

/*a:not(.file-name)[target="_blank"] {
	&::after {
		@include glyphAdd('\f08e', inherit, inherit);
		padding-left: 5px;
	}
}*/

.update-password-dialog {
	width: 40rem !important;
	.windowcontent {
		text-align: center;
	}
}

section {
	> h1 {
		margin: 10px 0 15px;
		font-size: 2rem;
	}
	section > h1 {
		font-size: 1.75rem;
		margin: 10px 0;
	}
}

img {
	max-width: 100%;
	height: auto;
}

.miwt-calendar {
	button.open,
	button.clear {
		border: none;
		background: inherit;
		box-shadow: none;
		color: #fff;

		&:before {
			visibility: visible;
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: "\f073";
			color: $color-app-light-grey;
		}
		&:hover {
			color: #fff;
			&:before {
				color: $color-app-black;
			}
		}
	}
	button.clear {
		padding-right: 0;
		&:before {
			content: '\f00d';
		}
	}
}

.instructions {
	padding-top: .75rem;
	padding-bottom: .75rem;
	color: $color-app-grey;
	font-style: italic;
	font-size: .9rem;
}
p.instructions {
	padding-bottom: 0;
}

.prop-wrapper {

	.prop.time {
		.prop-group-title { margin-top: 0; }
	}

	.prop.timezone {
		> label { margin-top: 15px; }
	}

}

/* Categories Management
   ========================================================================== */
.resource-tags-cats-management {

	> div + div {
		margin-top: 3rem;
	}

	.entity_actions {
		float: right;
		margin: -2.75rem 0 0;
		@include clearfix();

		.btn.action-add {
			@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
		}
	}

	label {
		display: block;
		margin-bottom: .25rem;
		font-size: 90%;

		&.tbl {
			@extend label;
			display: inline-block;
		}
	}

	input {
		border: 1px solid #aaa;
		padding: 6px 8px 5px;
		font-size: .9rem;
		line-height: 1;
	}

	.search_bar {
		margin-bottom: 1.5rem;

		.search_actions {
			margin-left: 1rem;

			.btn {
				@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-border-radius-sm);
			}
		}
	}

	.property-editor {

		input[type="text"] {
			width: 100%;
			max-width: 45%;
		}

		.prop {
			margin-bottom: .75rem;
		}

		.ctb.label-before {
			label {
				margin-right: 6px;
			}
		}

		.ctb.label-after {
			label {
				margin-left: 6px;
			}
		}
	}
}

.edit-membership-type {
	.actions {
		text-align: right;
		margin-bottom: 1rem;
	}
}

.user-search {
	.search-results {
		thead tr th {
			&:nth-of-type(2) {
				min-width: 7rem;
			}
			&.control {
				min-width: 3.5rem;
			}
		}
		tbody tr td:nth-of-type(8) {
			overflow-wrap: break-word;
			word-wrap: break-word;
			-ms-word-break: break-all;
			word-break: break-all;
		}
	}
}

.back-top {
	display: none;
}

div.calendar {
	z-index: 1900 !important;
}

@media (max-width: 767px)
and (orientation:portrait) {

	.back-top {
		display: block;
		bottom: 1.5rem;
		position: absolute;
		right: 0;

		a {
			padding: 5px 7px 7px;
			border: 1px solid $color-app-brand;
			border-radius: 100%;
			line-height: 1;
			display: inline-block;
			background: #fff;
		}

	}

	.header {
		min-height: 50px;
	}

	#main-wrapper main {
		margin-top: -3.75rem;
	}

	#main-content-wc-0 h1, #main-content-wc-0 h2, #main-content-wc-0 h3 {
		padding-left: 2.5rem;
	}

}

#footer {
	display: block;
	//min-height: 4.625rem;
	height: auto;
	margin-top: 0;
	background-color: $color-app-light-grey;
	color: $color-app-grey;
	//flex: 1;
	width: 100%;

	.text {
		padding: 1.5rem 0;
		max-width: 70rem;
		margin: 0 auto;
		text-align: center;

		p {
			margin: 0;
			font-size: .75rem;

			+ p {
				margin-top: .75rem;
			}

			img, svg {
				max-width: 15rem;
				height: auto;
			}
		}

	}

}